{{#if user.admin}}
<section class="">
  <div class="row1">
    <div class="book">
      <div class="book__form">
        <form action="/addFamily" method="POST">
          <div class="u-margin-bottom-medium">
            <h2 class="heading-secondary">
              Add a new family Member
            </h2>
          </div>
          <div class="form__group">
            <input type="text" class="form__input" placeholder="Full Name" name="name" id="name" required />
            <label for="name" class="form__label">Full name</label>
          </div>
          <div class="form__group">
            <input type="email" class="form__input" placeholder="Email Address" name="email" id="email" required />
            <label for="email" class="form__label">Email address</label>
          </div>
          <div class="form__group ">
            <select id="inputState" class="form__input" name="role">
              <option selected>Role...</option>
              <option value="Father">Father</option>
              <option value="Mother">Mother</option>
              <option value="Son">Son</option>
              <option value="Daugther">Daugther</option>
            </select>
          </div>
          <div class="form-check form__group">
            <input type="checkbox" class="form-check-input form__check" name="check">
            <label class="form-check-label form__label" for="check">Admin</label>
          </div>
          <div class="form__group">
            <button class="btn btn--green btn-block">Add &rarr;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section-family">

  <div class="container">
    <div class="row">
      {{#each Family}}
      <div class="col-md-4 p-4">
        <div class="card1 text-center">
          <div class="card1__side">
            <div class="card1__picture card1__picture--1">
              &nbsp;
              <!--Empty space html-->
            </div>
            <h4 class="card1__heading">
              <span class="card1__heading-span card1__heading-span--1">Family</span>
            </h4>
            <div class="card1__details">
              <ul>
                <li>Name: {{name}}</li>
                <li>Email: {{email}}</li>
                <li>Role: {{role}}</li>
                {{#if admin}}
                <li>Admin: yes</li>
                {{else}}
                <li>Admin: no</li>
                {{/if}}
              </ul>
              {{#if admin}}
              <div class="row1">
                <div class="col-1-of-2">
                  <form action="/to_dos" method="GET">
                    <div class="form-group">
                      <button type="submit" class="btn btn--orange">Assign task</button>
                    </div>
                  </form>
                </div>
              </div>
              {{else}}
              <div class="row1">
                <div class="col-1-of-2">
                  <form action="/to_dos" method="GET">
                    <div class="form-group">
                      <button type="submit" class="btn btn--orange">Assign task</button>
                    </div>
                  </form>
                </div>
                <div class="col-1-of-2">
                  <form action="/deleteMember/{{id}}">
                    <div class="form__group">
                      <button type="submit" class="btn btn--orange"><i class="fas fa-trash-alt"></i></button>
                    </div>
                  </form>
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{else}}
  <div class="container p-4">
    <div class="row">
      {{#each Family}}
      <div class="col-md-4 mx-auto p-4">
        <div class="card1 text-center">
          <div class="card1__side">
            <div class="card1__picture card1__picture--1">
              &nbsp;
              <!--Empty space html-->
            </div>
            <h4 class="card1__heading">
              <span class="card1__heading-span card1__heading-span--1">Family</span>
            </h4>
            <div class="card1__details">
              <ul>
                <li>Name: {{name}}</li>
                <li>Email: {{email}}</li>
                <li>Role: {{role}}</li>
                {{#if admin}}
                <li>Admin: yes</li>
                {{else}}
                <li>Admin: no</li>
                {{/if}}
              </ul>
              <form action="/addTask/{{id}}" method="GET">
                <div class="form-group">
                  <button type="submit" class="btn btn--orange">Add a task</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
</section>